.Adventure > ul {

  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  grid-gap: 5px;
}

.Adventure {
  border: 10px solid yellow;
  filter: drop-shadow(15px 7px 17px #9f9f9f);
  background-color: whitesmoke;
  padding: 10px;
}

.Adventure .adventure-title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.Adventure > ul > li {
  border: 1px solid var(--dark-color);
  background-color: var(--background-color);
  display: flex;
}

.Adventure .adventure-field-name {
  /*margin: 16px;*/
  font-family: "Andale Mono", monospace;
  display: inline-block;
}

.Adventure .adventure-field-value {
  display: inline-block;
  margin-left: 10px;
}

/*.Adventure .adventure-field-value::before {*/
/*  content: ": ";*/
/*  display: inline-block;*/
/*}*/

/*.Adventure .cards-card-body > *:first-child {*/
/*  margin-top: 0;*/
/*}*/

.Adventure > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
